* {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.main-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header {
    height: 50px;
    padding-top: 50px;
    text-align: center;
}

.main-link {
    text-decoration: none;
    color: dimgray;
}

.main-link:hover {
    color: lightsteelblue;
}

.header-result {
    height: 370px;
    text-align: center;
}

.section-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5em;
}

.conf-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.7em;
}

.block-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5em;
    /*color: slategray;*/
}

.submit-btn {
    background-color: #e7e7e7;
    border: none;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: darkslategray;
}

.submit-btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submit-btn:hover {
    /*background-color: #4CAF50;*/
    background-color: lightsteelblue;
    color: white;
}

.img-block {
    border: 2px solid #888;
    border-radius: 5px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 0 340px;
}

.options {
    width: 400px;
    margin-right: 100px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    width: 150px;
    margin-left: 30px;
    position: fixed;
    z-index: 101;
}

.info-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1em;
    color: slategray;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
    text-align: center;
    margin: 0 0 0 750px;
    width: 340px;
    position: fixed;
    z-index: 102;

}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 100px;
}


/* Results
-----------------------------------------------------------------------------*/
#tableResults tr, td {
    margin: 10px;
    padding: 10px;
}

/* blocks
-----------------------------------------------------------------------------*/
#block2, #block2, #block3, #block4, #block5, #block6 {
    display: none;
    margin-top: 20px;
}

#block1 {
    display: flex;
}


/* checkboxes and radios
-----------------------------------------------------------------------------*/
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox__text {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: dimgrey;
}

.checkbox__text:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #D3D3D3;
    /*background: #fff;*/
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    transition: .2s;
}

.checkbox__text:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
    /*background: #9FD468;*/
    background: lightsteelblue;

}

.checkbox input:checked + .checkbox__text:after {
    left: 26px;
}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: dimgrey;
}

.radio__text:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio__text:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: lightsteelblue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s;
}

.radio input:checked + .radio__text:after {
    opacity: 1;
}

.export-table {
    width: 100%;
    text-align: center;
}

.export-first-col {
    text-align: left;
}

.export-cost-col {
    text-align: right;
}
